{
  "parser": "babel-eslint",
  "extends": "airbnb",
  "env": {
    "browser": true,
    "node": true,
    "es6": true,
    "jest": true
  },
  "globals": {
    "__DEV__": true
  },
  "rules": {
    "global-require": [1],
    "max-len": [1, { "code": 150 }],
    "no-else-return": [0],
    "no-underscore-dangle": [0],
    "no-restricted-syntax": [0],
    "no-param-reassign": [0],
    "no-plusplus": [0],
    "no-mixed-operators": [0],
    "no-unused-expressions": [1],
    "no-restricted-properties": [0],
    "class-methods-use-this": [0],
    "import/extensions": [0],
    "import/no-unresolved": [0],
    "import/no-extraneous-dependencies": [0],
    "jsx-a11y/no-static-element-interactions": [0],
    "jsx-a11y/no-noninteractive-element-interactions": [0],
    "jsx-a11y/click-events-have-key-events": [0],
    "jsx-a11y/interactive-supports-focus": [0],
    "react/prop-types": [0],
    "react/no-direct-mutation-state": [2],
    "react/jsx-no-target-blank": [0],
    "react/jsx-filename-extension": [1, { "extensions": [".js"] }]
  }
}
