node_modules
demo/android/.idea
demo/android/.gradle
*.iml
demo/android/local.properties
*.log

## Build generated
build/
DerivedData
Pods
Podfile.lock
*.xcuserstate
xcuserdata
*.hmap
*.ipa
package-lock.json
